.banner {
  /* turn text white */
  color: white;
  /* contains whole header within perscribed box */
  object-fit: contain;
  height: 448px;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 350px;
  height: 80px;
}

.banner__button {
  font-size: 1rem;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  /* these padding setting will make the button larger around the text */
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /* this margin right adds spacing between the buttons */
  margin-right: 1rem;
  background-color: black;
  border-radius: 0.2vw;
}

.banner__button:hover {
  color: black;
  background-color: rgb(184, 184, 184);
  /* will cause the banner button to trasition to the above color and background-color decribed above */
  transition: all 0.2s;
}

.banner--fadeBottom {
  height: 7.5rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(46, 46, 46, 0.067),
    #111
  );
}
